.background-container{
  background-image: url('https://res.cloudinary.com/creek-finder/image/upload/v1625398560/backgrounds/login_background_mviink.jpg');
}

.button-container{
  display:flex;
  justify-content:center;
  width:100%;
}