.list {
  width: 80%;
  max-width: 800px;
  margin-top: 30px;

  &__title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    font-family: 'lullabies';
    color: var(--color-blue-logo);
    display: inline;
  }
}
