.weather-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  top: 20%;
  right: 10%;
  margin-bottom: 20px;
}


