.weather-container {
  // border:1px solid black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-top: 2px solid rgb(168, 168, 168);

  // position: absolute;
  top: 20%;
  right: 10%;

  
}


