.nav {
  position: absolute;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid var(--color-blue-logo);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(to right, #7df3ed, #91d3f3, #49bfff);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    margin: 0 15px 0 5px;
  }

  &__right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  img {
    width: 150px;
    margin: 5px 0;
  }
  ul {
    padding: 0;
    margin: 0;
  }

  li {
    display: inline;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: var(--color-blue-logo);
    font-size: 20px;
    margin: 0 20px;
    position: relative;

    &--auth {
      font-size: 14px;
      color: var(--color-blue-logo);
      margin-left: 5px;
    }

    &--last {
      margin-right: 60px;
    }

    &:hover {
      color: var(--color-blue-dark);
      text-shadow: none;
      text-decoration: none;
    }
  }
}

.active {
  color: var(--color-blue-dark);
  text-shadow: none;
  // text-decoration: underline;
  &::before {
    content: '';
    display: block;
    background: url('../../assets/line.svg') no-repeat;
    width: 90px;
    height: 15px;
    position: absolute;
    bottom: -18px;
    left: -8px;
    // float: right;
    margin: 0 !important;
  }
}

.active-auth {
  color: var(--color-blue-dark);
  text-shadow: none;
}
