$icomoon-font-family: "creek-finder" !default;
$icomoon-font-path: "fonts" !default;

$icon-thumbs-down: "\e900";
$icon-thumbs-up: "\e901";
$icon-mail: "\e902";
$icon-email: "\e902";
$icon-letter: "\e902";
$icon-envelope: "\e902";
$icon-contact: "\e902";
$icon-arrow-right: "\e903";
$icon-arrow-left: "\e904";
$icon-star-half: "\e905";
$icon-rate: "\e905";
$icon-star: "\e905";
$icon-star-full: "\e906";
$icon-rate1: "\e906";
$icon-star1: "\e906";
$icon-favorite: "\e906";
$icon-bookmark: "\e906";
$icon-star-empty: "\e907";
$icon-rate2: "\e907";
$icon-star2: "\e907";
$icon-favorite1: "\e907";
$icon-bookmark1: "\e907";
$icon-twitter: "\e908";
$icon-brand: "\e908";
$icon-tweet: "\e908";
$icon-social: "\e908";
$icon-instagram: "\e909";
$icon-brand1: "\e909";
$icon-social1: "\e909";
$icon-facebook: "\e90a";
$icon-brand2: "\e90a";
$icon-social2: "\e90a";
$icon-heart: "\e90b";
$icon-heart_full: "\e90c";
$icon-heart_style-path1: "\e90d";
$icon-heart_style-path2: "\e90e";
$icon-heart_style-path3: "\e90f";
$icon-heart_style-path4: "\e910";
$icon-heart_style-path5: "\e911";

