.carousel {
  width: 100%;

  &__img {
    display: block;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    font-size: 50px;
    text-shadow: 0px 0px 5px var(--color-blue-logo);
  }

  &__subtitle {
    font-size: 25px;
    text-shadow: 0px 0px 3px var(--color-blue-logo);
  }
}
