.map-image {
  height: 70vh;
  width: 100%;
  position: relative;

  &__pop-up {
  }

  &__pop-text {
    text-align: center;
    color: var(--color-light-black);
    font-size: 14px;
  }

  &__pop-img {
    width: 120px;
  }
}

.list-button {
  z-index: 999;
  position: absolute;
  right: 20px;
  top: 20px;
}
