.app {
  text-align: center;
}

.map {
  height: 60vh;
  width: 1000px;
  margin: 50px;
}
:root {
  --color-orange:#FFB051 ;
  --color-green: #51FFA2;
  --color-blue:#5AC5FF ;
  --color-violet:#6876FF ;
  --color-warm-white:#fff9eb ;
  --color-white:#ffffff ;
  --color-light-black:#202020 ;
  --color-black:#000000 ;
}