.app {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

:root {
  --color-orange: #ffb051;
  --color-green: #51ffa2;
  --color-blue: #5ac5ff;
  --color-violet: #6876ff;
  --color-warm-white: #fff9eb;
  --color-white: #ffffff;
  --color-light-black: #202020;
  --color-black: #000000;
}
