.app {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:root {
  --color-orange: #fdd892;
  --color-orange-dark: #ffb833;
  --color-green: #7df3ed;
  --color-green-transparent: #7df3edd3;
  --color-blue: #5ac5ff;
  --color-blue-dark: #1d5e90;
  --color-violet: #4958e2;
  --color-warm-white: #fdeedb;
  --color-white: #ffffff;
  --color-light-black: #202020;
  --color-black: #000000;
}
