body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-orange:#FFB051 ;
  --color-green: #51FFA2;
  --color-blue:#5AC5FF ;
  --color-violet:#6876FF ;
  --color-warm-white:#fff9eb ;
  --color-white:#ffffff ;
  --color-light-black:#202020 ;
  --color-black:#000000 ;
}
